<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <connectionStrings>
    <!--TODO M UNBLANK-->
    <add name="StorageConnection"
         connectionString="DefaultEndpointsProtocol=https;AccountName=telemedstagingstorage;AccountKey=oMgZtzsG1x2pekX6f968SGpjsHCnpxIg0wEnUsYDvJuWc339MrE723pJq5ZnXVEjFyrRnv2zvqk1T1d89VI4fw==;EndpointSuffix=core.windows.net"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="DefaultConnection"
         connectionString="Server=tcp:telemed-staging.database.windows.net,1433;Initial Catalog=telemed-staging-db;Persist Security Info=False;User ID=telemed-admin;Password='HW~S;R$Kz98YG}^#';MultipleActiveResultSets=True;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"
         providerName="System.Data.SqlClient"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="db_HeyDocEntities"
         connectionString="metadata=res://*/Entity.db_HeyDocEntities.csdl|res://*/Entity.db_HeyDocEntities.ssdl|res://*/Entity.db_HeyDocEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=tcp:telemed-staging.database.windows.net,1433;Initial Catalog=telemed-staging-db;Persist Security Info=False;User ID=telemed-admin;Password='HW~S;R$Kz98YG}^#';MultipleActiveResultSets=True;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;App=EntityFramework&quot;"
         providerName="System.Data.EntityClient"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="ServiceBusConnection"
         connectionString="Endpoint=sb://telemed-staging.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=xIMJIWAEdWgFGh0TkRurjb9EcU784WfdOldTRKzz/3w="
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <!--TODO M UNBLANK-->
    <add key="hostnameFTP" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="credentialUser" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="credentialAccess" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="GdexPrimeApiToken" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="GdexPrimeApiSubscriptionKey" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  <system.serviceModel>
  </system.serviceModel>
</configuration>