@using HeyDoc.Web.Helpers

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>HOPE</title>
    <meta name="description" content="description">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Content/images/appicon.png" rel="shortcut icon" type="image/x-icon" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css'>
    <link href="~/Content/devoops-master/style_v1.css" rel="stylesheet" />
    <link href="~/fonts/genericons.css" rel="stylesheet" />
    <link href="~/Content/css/doc2style.css" rel="stylesheet" />
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
                <script src="http://getbootstrap.com/docs-assets/js/html5shiv.js"></script>
                <script src="http://getbootstrap.com/docs-assets/js/respond.min.js"></script>
        <![endif]-->

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=@ConstantHelper.GoogleAnalyticsId"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', '@ConstantHelper.GoogleAnalyticsId');
    </script>

    <style>
        form {
            width: auto;
            margin: 0 auto;
            height: auto;
        }

        .row {
            margin-left: 0px !important;
            margin-right: 0px !important;
        }

        .field-validation-error, .validation-summary-errors {
            color: red;
        }

        #NewPassword:focus {
            color: #000000 !important;
        }

        #ConfirmPassword:focus {
            color: #000000 !important;
        }

        .custom-background {
            background-color: #ffffff;
            background-image: url('/Content/images/header_img.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center center;
            background-size: cover;
        }

        .header-logo-link {
            display: flex !important;
        }

        .header-logo-img {
            width: 36px;
            object-fit: contain;
        }

        .header-logo-text {
            margin-bottom: 0;
            margin-left: 0.6rem;
            align-self: center;
        }

        #site-title {
            text-transform: none;
        }

        .menu-toggle {
            margin-top: 28px;
        }
    </style>
</head>
<body class="">
    <div class="container-fluid" style="padding-left:0px;">
        <div id="page-login"  >
            <div class="row" id="masthead">
                <div class="hgroup-wrap">
		            <div class="container clearfix">
					    <section id="site-logo" class="clearfix">
							<h1 id="site-title">
					            <a class="header-logo-link" href="https://www.hope.com.mm/" title="HOPE" rel="home">
                                    <img class="header-logo-img" src="/Content/images/appicon.png" alt="HOPE">
                                    <p class="header-logo-text">HOPE</p>
                                </a>
				            </h1>
						</section><!-- #site-logo -->
						<button class="menu-toggle" id="clickME">Responsive Menu</button>
						<section class="hgroup-right">
							<nav id="site-navigation" class="main-navigation clearfix" role="navigation">
					            <ul class="nav-menu">
                                    <li id="menu-item-57" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-26 current_page_item menu-item-57"><a href="https://www.doc2us.com/">Home</a></li>
                                    <li id="menu-item-248" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-248"><a href="https://www.hope.com.mm/#about">About Us</a></li>
                                    <li id="menu-item-225" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-225"><a href="https://www.hope.com.mm/healthcare-providers">Our Doctors</a></li>
                                    <li id="menu-item-268" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-268"><a href="https://www.hope.com.mm/#health-tips">Blog</a></li>
                                </ul>
                            </nav><!-- #access -->
					    </section><!-- .hgroup-right -->
		            </div><!-- .container -->
	            </div>
            </div>
            @RenderBody()
            <div style="text-align:center; vertical-align:central; width:auto;height:auto; background-color:black; padding: 1rem 0;">
                <table  style="margin-left:25%; border-spacing:0;border-collapse:collapse;vertical-align:top;height:50px;width:47%;table-layout:fixed; margin-bottom: 0;">
                      <tbody >
                            <tr>
                                <td>
                                    <a href="https://www.facebook.com/Doc2Us"> <img src="~/Content/images/fb_btn_mo@2x.png" width="35px" /></a>
                                </td>
                                <td>
                                    <a style="position:relative;" href="https://www.instagram.com/doc2us/"> <img src="~/Content/images/insta_btn_mo@2x.png" width="35px" /></a>
                                </td>
                                <td>
                                    <a style="position:relative;" href="https://twitter.com/Doc2Us"> <img src="~/Content/images/twitter_btn@2x.png" width="35px" /></a>
                                </td>
                                <td>
                                    <!--TODO M UNBLANK: Support email-->
                                    <a style="position:relative;" href="mailto:{support email}">  <img src="~/Content/images/mail_btn@2x.png" width="35px" /></a>
                                </td>
                            </tr>
                    </tbody>
                </table>
            </div>
            <footer id="colophon" class="site-footer clearfix" role="contentinfo">
	            <div class="site-info clearfix">
		            <div class="container">
		                <div class="social-profiles clearfix">
				        </div><!-- .social-profiles -->
	                    <div class="copyright">© @DateTime.Now.Year.ToString() <a href="https://www.hope.com.mm/" title="Doc2Us"><span>HOPE</span></a></div><!-- .copyright -->
                    </div><!-- .container -->
	            </div><!-- .site-info -->
	            <div class="back-to-top" style="display: block;"><a title="Go to Top" href="#masthead"></a></div><!-- .back-to-top -->
		    </footer>
        </div>
    </div>
    @RenderSection("Scripts")
</body>
</html>

