@model HeyDoc.Web.Models.ResetPasswordModel

@{
    Layout = "_ChangePasswordLayout.cshtml";
}
@*<style>
        form {
            width: auto;
            margin: 0 auto;
            height: auto;
        }

        .row {
            margin-left: 0px !important;
            margin-right: 0px !important;
        }

        .field-validation-error, .validation-summary-errors {
            color: red;
        }

        #NewPassword:focus {
            color: #000000 !important;
        }

        #ConfirmPassword:focus {
            color: #000000 !important;
        }

        .custom-background {
            background-color: #ffffff;
            background-image: url('/Content/images/header_img.jpg');
            background-repeat: no-repeat;
            background-size: 100%;
            background-attachment: fixed;
        }
    </style>*@
<div class="row custom-background">
    <div class=" col-md-6  " style="margin-left:27%;margin-right:18%;">
        <div class="box" style="margin-top:6%;border-radius:3px;">
            <div class="box-content" style="background-color:#fff; text-align:center;opacity:0.95;">
                <br />
                <br />
                <div style="font-family:Helvetica;font-size:30px;color:#558ED5;">
                    Password changed successfully!
                </div>
                <br />
                Click continue to redirect to home
                <br />
                <br />
                @if (ViewBag.url == "localhost")
                {
                    <a href="http://localhost:4200/" class="btn btn-lg btn-primary btn-block" style="width:60%;background-color:#558ED5 ;border-radius:3px; border:2px solid #406EA0 ;margin-left: 3%;">Continue</a>
                }

                @if (ViewBag.url == "web.hope.com.mm")
                {
                    <a href="https://web.hope.com.mm/" class="btn btn-lg btn-primary btn-block" style="width:60%;background-color:#558ED5 ;border-radius:3px; border:2px solid #406EA0 ;margin-left: 3%;">Continue</a>
                }

                @if (ViewBag.url == "hopestaging.azurewebsites.net")
                {
                    <a href="https://hopestaging.azurewebsites.net" class="btn btn-lg btn-primary btn-block" style="width:60%;background-color:#558ED5 ;border-radius:3px; border:2px solid #406EA0 ;margin-left: 3%;">Continue</a>
                }
                <br />
                <br />
                <br />
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    @Scripts.Render("~/bundles/jqueryval")


    <script type="text/javascript">
        $(document).ready(function () {
            $('#clickME').click(function () {
                if (!$('#site-navigation').hasClass('toggled-on')) {
                    $('#site-navigation').addClass('toggled-on');
                }
                else {
                    $('#site-navigation').removeClass('toggled-on');
                }
            });
        });


        if ($('.back-to-top').length) {
            var scrollTrigger = 100, // px
                backToTop = function () {
                    var scrollTop = $(window).scrollTop();
                    if (scrollTop > scrollTrigger) {
                        $('.back-to-top').css('display', 'block');
                    } else {
                        $('.back-to-top').css('display', 'none');
                    }
                };
            backToTop();
            $(window).on('scroll', function () {
                backToTop();
            });
            $('.back-to-top').on('click', function (e) {
                e.preventDefault();
                $('html,body').animate({
                    scrollTop: 0
                }, 700);
            });
        }

    </script>
}
